* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #7AB2B2;
    font-family: "General Sans";
    align-content: center;
}

.age_calculator {
    background-color: #F5EFE6;
    width: 315px;
    border-radius: 20px;
    height: auto;
    padding: 1em .75em;
    margin: 4em auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
                rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1 {
    text-align: center;
    font-size: 1.7em;
    padding: 1em;
    color: black;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0.6em .8em;
    margin: 5px 0px;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    transform: scale(1.025);
}

.heading {
    font-size: 1em;
    font-weight: 600;
    padding: 3px 10px;
    text-transform: uppercase;
}

button {
    margin: 1.2em auto;
    padding: 1em 1.5em;
    background-color: transparent;
    color: #C40C0C;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-width: 3px;
    border-color: #C40C0C;
    border-radius: 20px;
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-5px);
    color: #fefae0;
    background-color: #C40C0C;
}

button::after {
    transform: translateY(0);
}

.hd {
    padding: 0.25em 1em;
}

.opt {
    text-align: center;
    padding: 0.25em 1em;
    font-size: 1.1em;
    font-weight: 600;
    color: #04471c;
}

h2 {
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.2em;
    padding: 0.5em 1.25em;
}

.thd {
    padding: 0.25em 1em;
}

.footer {
    text-align: center;
    margin: 3em;
    font-size: 1.2em;
}

span {
    font-size: 1.1em;
    font-weight: 600;
}